<html>
    <head>
        <link rel="stylesheet" href="styles.css"/>
        <title>Die Photosynthese-ein biochemischer Prozess</title>
    </head> 
    <body> 

        <h1>Die Photosynthese</h1>
        <p>
            <ul>
                <h2>Gliederung:</h2>
                <li>1.0 Link zu einem Video zur Photosynthese</li>
                <li>1.1 Die Lichtreaktion</li>
                <li>1.2 Die Dunkelreaktion</li>
                <li>1.3 Unterschiede</li>
                <li>2.1 Schema</li>
                <li>3.1 Wieso kann die Photosynthese ablaufen</li>
                <li>3.2 Folgen der PhS</li>
              </ul>
        </p>
       <H2>1.0 Link </H2>
        <a href="https://studyflix.de/biologie/photosynthese-2201"><img src="index.jpeg" width="300px" height="176" alt="Video zur Photosynthese"></a>
        <h2>1.1 Die Lichtreaktion</h2>
    <p>Die Lichtreaktion ist eine Teilreaktion der Photosynthese und stelt grob gesagt die chemische 
        Energie für die Dunkelreaktion da. </p>
        <p>Um dies zu vollbringen findet in den Grana-Thylakoiden mit Hilfe von Wasser (H2O) 
        und Lichtenergie die Energieumwandlung sattt. </p>
        <p>Hierbei entsteht als Hauptprodukt chemische Energie in Form von ATP gebunden und Enzymgebundener 
        Wasserstoff (RH2). </p>
        <P>Als Nebenprodukt geht aus dieser Reaktion Sauerstoff (O2) hervor, welcher für das Leben auf der
        Erde essenziell wichtig ist. </P>
<p></p>
<h2>1.2 Die Dunkelreaktion</h2>
<p>Die zweite Stufe der Photosynthese heißt Dunkelreaktion.</p>
<P>Hier werden mit Hife des Atp's und des RH2's aus der Lichtreaktion zusätzlich mit 
Kohlenstoffdioxid (CO2) Stoffe im Stroma umgewandelt.</P>
<P> Die Produkte dieser Teilreaktion sind die energiereiche Glucose (C6H12O6) und Wasser (H2O) </P>
<P>Das Atp und RH2 werden dann in Form von ATP+P und R wieder in die Lichtreaktion zurückgeführt </P>  
<H2>1.3 Tabelle Unterschiede</H2>
<table>
    <tr>
     <h2><th>Dunkelreaktion</th></H2>
      <th>Lichtreaktion</th>
    </tr>
    <tr>
      <td>Lichtunabhängig</td>
      <td>ist Lichtabhängig</td>
    </tr>
    <tr>
      <td>läuft bei Tag und Nacht</td>
      <td>läuft nur am Tag ab</td>
    </tr>
    <tr>
<td>Energieumwandlung</td>
<td>Stoffumwandlung</td>
    </tr>
    <tr>
<td>Reaktionsort:Stroma</td>
<td>Reaktionsort:Granathylakoidmembran</td>
    </tr>  
    <tr>
<td>--------</td>
<td>Fotolyse</td>
    </tr>           
    <tr>
<td>ist direkt abängig von der LR</td>
<td>schafft Voraussetzungen für die DR </td>
    </tr>
    <tr>
<td>benutzt Energie zum Aufbau e-reicher Verbindungen (Glucose)</td>
<td>Umwandlung Lichtenergie in chem. Energie</td>
    </tr>
  </table>

</body>
</html>